/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Main */
h1 {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #595b5c;
}

.bold {
  font-weight: bold; 
}

.gray-txt {
  color: #595b5c;
}

/* Nav */

nav {
  background-color: #C4114B;
}

nav a {
  color: white;
  font-family: 'Montserrat', sans-serif;  
}

nav input {
  background-color: #DD7899;
  border: none;
  border-radius: 5px;
  color: white;
}

.cart {
  color: white;
}

/* Home */

.margin-neg {
  position: absolute;
  top: 40%;
  width: 85%;
}

/* Buttons */
.minezy:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-red {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #c4114b;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #c4114b 1px;
  text-decoration: none;
}

.btn-red:hover {
  background-color: #c4114b;
  color: #ffffff;
  text-decoration: none;
}

.btn-white {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid white 1px;
  text-decoration: none;
}

.btn-white:hover {
  background-color: #ffffff;
  color: #c4114b;
  text-decoration: none;
}

.btn-blue {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: #222653;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #222653 1px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #222653;
  color: #ffffff;
  text-decoration: none;
}

/* Product Card */

.product-card {
  width: 20%;
}

/* Single Product Page */
.prod-overview {
  width: 60%;
}

.prod-pic {
  width: 40%;
  height: 40%;
}