/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Main */
h1 {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 4rem;
  color: white;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  color: #595b5c;
}

.bold {
  font-weight: bold; 
}

.gray-txt {
  color: #595b5c;
}

/* Nav */

nav {
  background-color: #C4114B;
}

nav a {
  color: white;
  font-family: 'Montserrat', sans-serif;  
}

nav input {
  background-color: #DD7899;
  border: none;
  border-radius: 5px;
  color: white;
}

#log-btn {
  background-color: #C4114B;
  border: solid white 1px;
  border-radius: 5px;
  color: white;
  height: 2.1em;
}

.form-modal {
  display: inline;
}

#log-modal {
  font-family: 'Montserrat', sans-serif;  
}

.modal-edges {
  border: none;
  color: #2294D2;
}

.modal-input-field {
  margin: .5em;
}

.cart {
  color: white;
}

/* Home */

.margin-neg {
  position: absolute;
  top: 30%;
  width: 85%;
}

/* Buttons */
.minezy:hover {
  text-decoration: none;
  color: #ffffff;
}

.btn-red {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #c4114b;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #c4114b 1px;
  text-decoration: none;
}

.btn-red:hover {
  background-color: #c4114b;
  color: #ffffff;
  text-decoration: none;
}

.btn-white {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid white 1px;
  text-decoration: none;
}

.btn-white:hover {
  background-color: #ffffff;
  color: #c4114b;
  text-decoration: none;
}

.btn-blue {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  color: #222653;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border: solid #222653 1px;
  text-decoration: none;
}

.btn-blue:hover {
  background: #222653;
  color: #ffffff;
  text-decoration: none;
}

/* Product Card */

.product-card {
  width: 20%;
}

/* profile */



#main-profile{
  margin-top:50px;
  border-radius: 2px;
  border:1 solid rgb(207, 209, 209);
  
}
img.round-circle{
  width: 200px;
  height: 220px;
  /* border-radius: 50%; */
}
/* Single Product Page */
.prod-overview {
  width: 60%;
}

.prod-pic {
  margin-right: auto;
  width: 60%;
  height: 60%;
}

.flex-products {
  display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.fieldset{
   padding-top: 5%;
  border-radius: 5px;
}


div.text-center.paym{
  margin-top: 25px;
}


.readMore:hover{
  color: #c4114b;
  text-decoration: underline;
}